version: '3.7'
services:
  workout-lol:
    build:
      context: ..
      dockerfile: docker/dockerfile
    ports:
      - 3000:3000
    volumes:
      - workout-data:/app/data

volumes:
  workout-data:
